* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1b3e4b;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #2c5965;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#box {
  display: grid;
  width: 80vw;
  max-width: 600px;
  height: 80vw;
  max-height: 600px;
  background-color: white;
  border: 3px solid black;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
}

.sizing {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2c5965;
}
